body{ 
    font: 12px arial, sans-serif;
    foreground-color:#808080;
   background-color: #c0c0c0;

}

.button {
    background-color: #e0e0e0; /* Green */
  border: 0 none;
  border-radius: 4px;

    color: #808080;
    padding: 6px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: .9;
    transition: opacity 300ms linear;
}
.subbutton{
    background-color: #d8d8d8;
  border: 0 none;
  border-radius: 4px;
    color: #707070;
    padding: 6px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: .9;
    transition: opacity 300ms linear;
}